<table id="example2" class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>No</th>
    <th>Nama</th>
    <th>Aksi</th>
  </tr>
  </thead>
  <tbody>
    <% category.forEach((e, i) => { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= e.name %> </td>
        <td>
          <form action="">
            <a href="" class="btn btn-sm btn-warning">
              <i class="fas fa-pencil-alt"></i>
              Ubah
            </a>
            <button href="" class="btn btn-sm btn-danger">
              <i class="fas fa-trash"></i>
              Hapus
            </button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>